In [11]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [12]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [13]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [14]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School"},
                    {"School ID": 1, "school_name": "Figueroa High School"},
                    {"School ID": 2, "school_name": "Shelton High School"},
                    {"School ID": 3, "school_name": "Hernandez High School"},
                    {"School ID": 4, "school_name": "Griffin High School"}]

In [15]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [19]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school = ["District", "District", "Charter", "Charter"]

In [20]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [23]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
# Print the DataFrame.
schools_df

NameError: name 'school_id' is not defined